# Gitignore for SmallGame!

# Visual studio working files
*.vs/
*.user

# Sublime temporary file
*.sublime-workspace

# Build/intermediary files
Game/build/

# Executable and database files from build
*.exe
*.ilk
*.pdb
*.ipdb
*.iobj

# (but we want to commit binary files we but next to our built binaries)
!Game/bin/Debug/assimp.dll
